li {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 15px;
  margin: 20px auto;
  color: black;
  transition: all 0.4s ease-in-out;
}

li:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.completar {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.marcado {
  text-decoration: line-through;
}

.terminado {
  background-color: rgba(157, 241, 142, 0.969);
}